doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title #{titre} - Timeline
  script(src="/socket.io/socket.io.min.js")
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css')
  link(rel='stylesheet' href='/css/index.css')
body
  header
    a(href='#')
      i.fas.fa-trophy
    h1 Timeline
  section.erreur
    h2 #{titre} 
    p #{erreur}
    p Clique sur le bouton en dessous pour rejoindre le site !
    a(href="/") Timeline
  footer.absolute
    div
      p Vincent Bongrand
      a(href='https://www.linkedin.com/in/vincentbongrand/' target='blank') Linkedin 
      a(href='https://github.com/vnctbb' target='blank') GitHub
    div
      p inspiré du jeu de société Timeline par Frédéric Henry
      p Projet back-end Ifocop
script(src='/js/previous-game.js')