doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  script(src="/socket.io/socket.io.min.js")
  link(rel='stylesheet' href='/css/style.css')
body
  h1 Remettez ces évènements dans l'ordre
  .board
    .containers.playerList
      h2.playerName #{username}
    .container.reception
    .otherPlayerList
script.
  let username = !{JSON.stringify(username)};
script(src='/js/functionRepertory.js')
script(src='/js/script.js')
