@import url('http://fonts.cdnfonts.com/css/bw-modelica');

body{
  background-color: #72A1E5;
  color: rgb(59, 59, 59);
  height: 100%;
  font-family: 'Bw Modelica', sans-serif;
}

/* couleur générique */
.red{
  color: red;
}

.gray{
  color: rgb(59, 59, 59);
}

.bold{
  font-weight: bold;
}

.absolute{
  position: absolute;
}

/* ------------------------------
* --------------- HEADER -----------------
------------------------------ */

header{
  text-align: center;
}

header > h1{
  color: #BA3F1D;
  font-size: 5em;
  font-weight: 900;
}

.fa-award{
  color: #BA3F1D;
  font-size: 3em;
  position: absolute;
  right: 35px;
  top: 35px;
  transition-property: color;
  transition-duration: 1s;
}

.fa-award:hover{
  color: #ffa825;
}

/* ------------------------------
* --------------- FORM -----------------
------------------------------ */

section{
  text-align: center;
}

form{
  margin: 25px 0px 75px 0px;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

form > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 20px;
}

.field{
  color: rgb(59, 59, 59);
  font-size: 1.8em;
  margin-bottom: 20px;
  padding-left: 10px;
  width: 300px;
}

form input{
  border-radius: 15px;
  border: 1px solid lightgray;
  height: 40px;
}

form input:last-child{
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: bold;
}

form input:last-child:hover{
  background-color: #FFF;
  box-shadow: 0px 0px 2px #3075d4;
  cursor: pointer;
}

/* choix de la room */
.roomChoice{
  display: flex;
  justify-content: center;
  width: 80%;
}

.roomChoice > div {
  margin: 0 15px;
}

.roomChoice > div > p {
  margin: 0;
}

/* choix de l'avatar */
.personnage{
  align-items: center;
  display: flex;
  flex-flow: column wrap;
}

.personnage img{
  width: 100px;
}

/* erreur formulaire*/
.erreur > h2{
  font-size: 2em;
  font-weight : 900;
}

.erreur > p:nth-child(3){
  margin-bottom: 50px;
}

.erreur > a{
  color: white;
  padding: 15px 30px;
  background-color: #72A1E5;
  border-radius: 25px;
  text-decoration: none;
}

.erreur > a:hover{
  background-color: #5b90db;
}

/* ------------------------------
* ----- PREVIOUS GAME ---------------
------------------------------ */

.menuPartie{
  background-color: #FE9900;
  color: #FFF;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  right: -600px;
  top: 0px;
  width: 445px;
  z-index: 2;
}

.menuPartie .fa-times{
  cursor: pointer;
  font-size: 2em;
  margin-left: 25px;
}

.menuPartie h2{
  font-size: 2em;
  margin-right: 25px;
}

.gameTitle, .exposeGame{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.gameTitle{
  justify-content: flex-end;
}

.exposeGame{
  display: flex;
  flex-flow: column;
}

ul{
  width: 80%;
}

.fa-times:hover{
  color: #72A1E5;
}

.come{
  right: 0;
  animation-duration: 2s;
  animation-name: slidein;
  animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
}

@keyframes slidein {
  from {
    right: -450px;
  }

  to {
    right: 0;
  }
}

.back{
  animation-duration: 2s;
  animation-name: slideback;
  animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
}

@keyframes slideback {
  from {
    right: 0px;
  }

  to {
    right: -450px;
  }
}

.gameButton{
  display: flex;
  justify-content: space-around;
}

.lastTen, .allGame{
  cursor: pointer;
  font-weight: bold;
}

.lastTen:hover, .allGame:hover{
  color: #72A1E5;
}

/* one game */
.oneGame{
  background-color: #FFF;
  border-radius: 15px;
  color: #BA3F1D;
  height: 100%;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  width: 80%;
}

.oneGame div:first-child{
  display: flex;
  justify-content: space-between;
}

.oneGame li{
  list-style-type: none;
  margin: 5px;
}

.oneGame li:first-child{
  margin-top: 15px;
}

.roomWinner{
  color: #62C168;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 0px;
  text-transform: capitalize;
}

.nameWinner{
  font-size: 2em;
  font-weight: bold;
}

/* ------------------------------
* ----------------- FOOTER ---------------
------------------------------ */

footer{
  bottom: 10px;
  font-size: 0.9em;
  text-align: right;
  width: 100%;
}

footer div:first-child{
  text-align: center;
}

footer div:last-child{
  display: flex;
  justify-content: space-between;
  text-align: center;
}

footer a {
  color: rgb(59, 59, 59);
  margin-right: 5px;
  text-decoration: none;
}

footer a:hover{
  color: rgb(14, 13, 13);
}