@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;0,900;1,400&display=swap');

body{
  color: rgb(59, 59, 59);
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

header{
  text-align: center;
}

header > h1{
  color: #FE9900;
  font-size: 5em;
  font-weight: 900;
}

.red{
  color: red;
}

.gray{
  color: rgb(59, 59, 59);
}

.fa-trophy{
  color: #FE9900;
  font-size: 3em;
  position: absolute;
  right: 35px;
  top: 35px;
  transition-property: color;
  transition-duration: 1s;
}

.fa-trophy:hover{
  color: #ffa825;
}

section{
  text-align: center;
}

form{
  margin: 75px;
  text-align: center;
}

form{
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

form input{
  border-radius: 15px;
  border: 1px solid lightgray;
  height: 40px;
}

form > div {
  display: flex;
  margin: 20px;
}

.personnage{
  align-items: center;
  display: flex;
  flex-flow: column wrap;
}

.personnage img{
  width: 100px;
}

form input:nth-child(3){
  color: rgb(59, 59, 59);
  font-size: 1.8em;
  margin-bottom: 20px;
  padding-left: 10px;
  width: 300px;
}

form input:last-child{
  cursor: pointer;
}

form input:last-child:hover{
  background-color: #cecccc;
  border: 1px solid #afafaf;
  cursor: pointer;
}

.menuPartie{
  background-color: #72A1E5;
  color: #FFF;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  right: -600px;
  top: 0px;
  width: 595px;
  z-index: 2;
}

.menuPartie > div{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.menuPartie .fa-times{
  cursor: pointer;
  font-size: 2em;
  margin-left: 25px;
}

.menuPartie h2{
  font-size: 2em;
  margin-right: 25px;
}

.come{
  right: 0;
  animation-duration: 2s;
  animation-name: slidein;
  animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
}

@keyframes slidein {
  from {
    right: -600px;
  }

  to {
    right: 0;
  }
}

.back{
  animation-duration: 2s;
  animation-name: slideback;
  animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
}

@keyframes slideback {
  from {
    right: 0px;
  }

  to {
    right: -600px;
  }
}

.exposeGame{
  display: flex;
  flex-flow: column;
}

.oneGame{
  background-color: #FFF;
  border-radius: 15px;
  color: #FE9900;
  height: 100%;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  width: 80%;
}

.oneGame div:first-child{
  display: flex;
  justify-content: space-between;
}

.nameWinner{
  font-size: 2em;
}

.oneGame li{
  list-style-type: none;
  margin: 5px;
}

.oneGame li:first-child{
  margin-top: 15px;
}

footer{
  bottom: 10px;
  font-size: 0.9em;
  left: calc(50% - (95% / 2));
  text-align: right;
  width: 95%;
}

footer div:first-child{
  text-align: center;
}

footer div:last-child{
  display: flex;
  justify-content: space-between;
  text-align: center;
}

footer a {
  color: rgb(59, 59, 59);
  margin-right: 5px;
  text-decoration: none;
}

footer a:hover{
  color: rgb(14, 13, 13);
}