@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;0,900;1,400&display=swap');

body {
  background-color: #282C35;
  color: rgb(59, 59, 59);
  font-family: 'Robot', sans-serif;
  margin: 0;
  user-select: none;
}

.red{
  color: red;
}

.green{
  color: green;
}

.gray{
  color: rgb(59, 59, 59);
}

header{
  text-align: center;
}

header > h1{
  color: #FE9900;
  font-size: 5em;
  font-weight: 900;
}

header > a > .fas{
  color: #FE9900;
  font-size: 3em;
  position: absolute;
  right: 40px;
  top: 40px;
  transition-property: color;
  transition-duration: 1s;
}

header > a > .fas:hover{
  color: #ffa825;
}

.board{
  display: flex;
}

.playerName{
  color: rgb(59, 59, 59);
  font-size: 1.5em;
}

.status{
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.status > button{
  border: 1px solid lightgray;
  border-radius: 10px;
  cursor: pointer;
  height: 30px;
  padding: 0px 10px;
}

.status > .fas{
  font-size: 1.5em;
  margin: 0 10px;
}

.container,
.containers,
.notContainers,
.otherPlayerList{
  border: 4px solid #FE9900;
  border-radius: 15px;
  padding: 1rem;
  margin: 1rem;
  min-height: 300px;
}

.playerList{
  text-align: center;
}

.playerList > div:first-of-type{
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.player{
  border: none;
  margin: 0px;
}

.avatar{
  width: 150px;
}

.reception{
  width: 50%;
}

.playerList,
.otherPlayerList{
  width: 25%;
}

.otherPlayerList > div{
  display: flex;
}

.otherPlayerList > div > div{
  display: unset;
}

.draggable{
  padding: 1rem;
  background-color: white;
  border-radius: 15px;
  border: 1px solid rgb(59, 59, 59);
  cursor: move;
  display: flex;
  font-size: 0.8em;
  justify-content: space-between;
}

.notDraggable{
  padding: 1rem;
  background-color: white;
  border-radius: 15px;
  border: 1px solid rgb(59, 59, 59);
  font-size: 0.8em;
}

.winnerMenu{
  background-color: rgba(59, 59, 59, 0.8);;
  border-radius: 15px;
  font-size: 1.5em;
  height: 400px;
  left: calc(50% - 250px);
  position: absolute;
  text-align: center;
  top: 300px;
  width: 500px;
}

.winnerMenu > p{
  color: rgb(253, 249, 206);
  font-weight: 900;
  font-size: 1.5em;
  margin: 75px;
}

.winnerMenu > a{
  color: rgb(253, 249, 206);
}

.player{
  width: 80%;
}

.draggable.dragging{
  opacity : 0.5;
}

span{
  font-size: 1em;
  font-weight: bold;
}

.menuPartie{
  background-color: #72A1E5;
  color: #FFF;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  right: -600px;
  top: 0px;
  width: 595px;
  z-index: 2;
}

.menuPartie > div{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.menuPartie .cross{
  cursor: pointer;
  font-size: 2em;
  margin-left: 25px;
}

.menuPartie h2{
  font-size: 2em;
  margin-right: 25px;
}

.come{
  right: 0;
  animation-duration: 2s;
  animation-name: slidein;
  animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
}

@keyframes slidein {
  from {
    right: -600px;
  }

  to {
    right: 0;
  }
}

.back{
  animation-duration: 2s;
  animation-name: slideback;
  animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
}

@keyframes slideback {
  from {
    right: 0px;
  }

  to {
    right: -600px;
  }
}

.exposeGame{
  display: flex;
  flex-flow: column;
}

.oneGame{
  background-color: #FFF;
  border-radius: 15px;
  color: #FE9900;
  height: 100%;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  width: 80%;
}

.oneGame div:first-child{
  display: flex;
  justify-content: space-between;
}

.nameWinner{
  font-size: 2em;
}

.oneGame li{
  list-style-type: none;
  margin: 5px;
}

.oneGame li:first-child{
  margin-top: 15px;
}

footer{
  bottom: 10px;
  font-size: 0.9em;
  left: calc(50% - (95% / 2));
  text-align: right;
  margin: 75px auto 0px auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
}