@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;0,900;1,400&display=swap');

body {
  color: rgb(59, 59, 59);
  font-family: 'Robot', sans-serif;
  margin: 0;
}

header{
  text-align: center;
}

header > h1{
  color: #FE9900;
  font-size: 5em;
  font-weight: 900;
}

.fas{
  color: #FE9900;
  font-size: 3em;
  position: absolute;
  right: 40px;
  top: 40px;
  transition-property: font-size color;
  transition-duration: 1s;
}

.fas:hover{
  color: #ffa825;
  font-size: 4em;
}

.board{
  display: flex;
}

.playerName{
  color: rgb(59, 59, 59);
}

.red{
  color: red;
}

.container,
.containers,
.notContainers,
.otherPlayerList{
  border: 4px solid #FE9900;
  border-radius: 15px;
  padding: 1rem;
  margin: 1rem;
  min-height: 300px;
}

.player{
  border: none;
  margin: 0px;
}

.reception{
  width: 50%;
}

.playerList,
.otherPlayerList{
  width: 25%;
}

.draggable{
  padding: 1rem;
  background-color: white;
  border-radius: 15px;
  border: 1px solid rgb(59, 59, 59);
  cursor: move;
  font-size: 0.8em;
}

.notDraggable{
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
}

.winnerMenu{
  background-color: rgba(59, 59, 59, 0.8);;
  border-radius: 15px;
  font-size: 1.5em;
  height: 300px;
  left: calc(50% - 250px);
  position: absolute;
  text-align: center;
  top: 150px;
  width: 500px;
}

.winnerMenu > p{
  color: rgb(253, 249, 206);
  font-weight: 900;
  font-size: 1.5em;
  margin: 75px;
}

.winnerMenu > a{
  color: rgb(253, 249, 206);
}

.player{
  width: 80%;
}

.draggable.dragging{
  opacity : 0.5;
}

footer{
  bottom: 10px;
  font-size: 0.9em;
  left: calc(50% - (95% / 2));
  text-align: right;
  margin: 75px auto 0px auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
}