body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.board{
  display: flex;
}

.playerName{
  color: white;
}

.red{
  color: red;
}

.container,
.containers,
.notContainers,
.otherPlayerList{
  background-color: #333;
  padding: 1rem;
  margin: 1rem;
  min-height: 300px;
  width: 50%;
}

.draggable{
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
  cursor: move;
}

.notDraggable{
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
}

.winnerMenu{
  background-color: yellow;
  font-size: 1.5em;
  height: 300px;
  left: calc(50% - 200px);
  position: absolute;
  text-align: center;
  top: 150px;
  width: 400px;
}

.winnerMenu > p{
  margin: 50px;
}

.player{
  width: 80%;
}

.draggable.dragging{
  opacity : 0.5;
}